/* Set background color and center text */
body {
    background-color: #2c3e50;
    text-align: center;
  }
  
  /* Change header style */
  header {
    background-color: #34495e;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px #ccc;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px #ccc;
    transition: color 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #f5e9e9;
  }
  
  /* Style about section */
  #welcome-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #welcome-text {
    color: #7ba7d2;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
  }
  #welcome-text:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  #about {
    background-color: #fff;
    padding: 40px;
    margin-top: 20px;
    box-shadow: 2px 2px #ccc;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #34495e;
  }
  
  p {
    font-size: 20px;
    line-height: 1.5;
    color: #666;
  }
  
  /* Style skills section */
  #skills {
    background-color: #fff;
    padding: 40px;
    margin-top: 20px;
    box-shadow: 2px 2px #ccc;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  ul li {
    margin-bottom: 10px;
    font-size: 24px;
    color: #666;
  }
  
  /* Style projects section */
  #projects {
    background-color: #fff;
    padding: 40px;
    margin-top: 20px;
    box-shadow: 2px 2px #ccc;
  }
  
  #projects h2 {
    color: #34495e;
    margin-bottom: 20px;
  }
  
  #projects li {
    font-size: 24px;
    margin-bottom: 10px;
    color: #666;
  }
  
  /* Style contact section */
  #contact {
    background-color: #fff;
    padding: 40px;
    margin-top: 20px;
    box-shadow: 2px 2px #ccc;
  }
  
  #contact h2 {
    color: #34495e;
    margin-bottom: 20px;
  }
  
  #contact p {
    font-size: 24px;
    color: #666;
  }
  