/* Set background color and center text */
body {
    background-color: #fff;
    text-align: center;
  }
  
  /* Change header style */
  header {
    background-color: #c2c2c2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    color: #2c3e50;
    text-shadow: 1px 1px #ccc;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #929292;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px #ccc;
    transition: color 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #000000;
  }
  
  /* Style about section */
  #welcome-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #welcome-text {
    color: #000000;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
  }
  #welcome-section:hover {
    background-color: rgb(238, 255, 0);
  }

  #about {
    background-color: #fff;
    padding: 40px;
    margin-top: 20px;
    box-shadow: 2px 2px #ccc;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #34495e;
  }
  
  p {
    font-size: 20px;
    line-height: 1.5;
    color: #666;
  }
  
  /* Style skills section */
  #skills {
    background-color: #fff;
    padding: 40px;
    margin-top: 20px;
    box-shadow: 2px 2px #ccc;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  ul li {
    margin-bottom: 10px;
    font-size: 24px;
    color: #666;
  }
  
  /* Style projects section */
  #projects {
    background-color: #fff;;
    padding: 40px;
    margin-top: 20px;
    box-shadow: 2px 2px #ccc;
  }
  .pathfinder-background{
    background-image: url(images/Pathfinder.png);
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }

  #projects h2 {
    color: #34495e;
    margin-bottom: 20px;
  }
  
  #projects li {
    font-size: 24px;
    margin-bottom: 10px;
    color: #666;
  }
  
  /* Style contact section */
  #contact {
    background-color: #fff;
    padding: 40px;
    margin-top: 20px;
    box-shadow: 2px 2px #ccc;
  }
  
  #contact h2 {
    color: #34495e;
    margin-bottom: 20px;
  }
  
  #contact p {
    font-size: 24px;
    color: #666;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: 1px solid black;
    padding: 10px;
  }

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .star {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d9c31a;
    pointer-events: none;
  }